html {
    background-color: #F0EAD6;
}
body {
    background: rgb(58,49,43) !important;
    margin: 0px 50px !important;
    box-shadow: 1px 1px 1px 1px  rgb(58,49,43);
    border-radius: 5px;
}
a:hover {
    text-decoration: none;
    color: lightgray !important;
}
.container {
    display: flex;
    max-width: 1440px;
    width: 1440px;
    margin: auto;
}
.infoContainer {
    width: 25%;
    height: 593px;
    background: url(../images/wood_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 593px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.artwork {
    width: 100%;
    height: 593px;
    background: url(../images/background.jpg);
    background-size: 75% 593px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 5px;
}
.name {
    width: 100%;
    font-family: monospace;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 50px;
    color: #FFF;
    font-weight: 600;
}
.subtitle1 {
    width: 100%;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 40px;
    color: #FFF;
    font-weight: 600;
    font-style: italic;
}
.subtitle2 {
    width: 100%;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #FFF;
    font-weight: 600;
    font-style: italic;
}
.profilePic {
    height: 140px;
    border-radius: 120px;
    margin-top: 70px;
    box-shadow: 1px 1px 1px 1px black;
}
.socialIcons {
    display: flex;
    width: 280px;
    margin: auto;
    background: transparent;
    justify-content: space-evenly;
}
.icon {
    cursor: pointer;
}
.tabsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab-content {
    padding-bottom: 30px;
}
.tab-pane {
    margin-top: 10px;
}
.nav-link.active {
    font-weight: 700;
    width: 200px;
    text-align: center;
    background: rgb(58,49,43) !important;
    color: #FFF !important;
    border: 0px !important;
}
.nav-link {
    width: 200px;
    text-align: center;
    color: #FFF;
}
.nav-link:hover {
    border: 0px !important;
}
.nav {
    width: 1000px;
    justify-content: space-between;
}
.nav-item {
    background: rgb(58,49,43) !important;
}
.expCard {
    width: 1100px;
    margin: auto;
    min-height: 300px;
}
.skillsGroup {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.skillsGroup > span {
    min-width: 120px;
    padding: 15px 10px;
    box-shadow: 1px 1px 1px 1px darkgray;
}